$color-primary: #83b735;
$color-primary-light: #a9ec45;
$color-primary-light2: rgb(169, 230, 79);
$color-primary-dark: #26881b;
$color-primary-dark2: #1f6e16;
$color-primary-darkest: #0f360b; //#1f2b0d;
$color-secondary: #b3ffcf;
$color-primary-border: #10612e;

$text-primary: #001600;
$text-secondary: rgb(198, 255, 219);

$btn-primary: #013220;
