#footer {
  padding: 3rem 20rem 0.8rem 20rem;
  //   background: darken($color: $color-primary, $amount: 50);
  //   background: #687169;
  background: darken($color: #78866b, $amount: 38);

  color: #fff;
  @include respond(bp-big) {
    padding: 3rem 10rem 0.8rem 10rem;
  }
  @include respond(tab-land) {
    padding: 3rem 5rem 0.8rem 5rem;
  }
  @include respond(bp-700) {
    padding: 3rem 3rem 0.8rem 3rem;
  }
  @include respond(phone) {
    padding: 3rem 2rem 0.8rem 2rem;
  }
}

.footer {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'left middle logo right';
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        'logo left'
        'middle right';
      row-gap: 10px !important;
    }
    @include respond(bp-medium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        'logo'
        'left'
        'middle'
        'right';
    }

    &--location {
      grid-area: left;
      display: grid;
      justify-content: center;
      align-content: center;
      & p {
        font-size: 1.4em;
        @include respond(tab-port) {
          font-size: 1.8em;
        }
        &:not(:last-child) {
          margin-bottom: 3px;
        }
        & a {
          transition: all 0.5s ease-in-out;
          &:hover {
            color: $color-primary-dark;
          }
        }
      }
      & .contact-map {
        width: 200px;
        height: 200px;
        margin-bottom: 5px;
      }
    }

    &--nav {
      grid-area: middle;
      display: grid;
      justify-content: center;
      align-content: center;
      & ul {
        display: flex;
        flex-direction: column;
        & p {
          font-size: 1.8em;
          margin-bottom: 8px;
          font-weight: bold;
          letter-spacing: 1px;
          @include respond(tab-port) {
            font-size: 2.2em;
          }
        }
        & li {
          font-size: 1.8em;
          margin-bottom: 5px;
          @include respond(tab-port) {
            font-size: 2em;
          }
          & a {
            color: $color-primary-light;
            transition: color 0.4s ease-in-out;

            &::before {
              content: '· ';
            }

            &:hover {
              color: $color-primary-dark;
            }
          }
        }
      }
    }

    &--btn {
      grid-area: right;
      display: grid;
      justify-content: center;
      align-content: center;
      @include respond(bp-medium) {
        // margin-top: -22rem;
        height: 15rem;
        // margin-bottom: 22rem;
        // margin-bottom: -10rem;
        // padding-bottom: -10rem;
      }

      & .a {
        // align-self: right;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        font-size: 3rem;
        @include respond(tab-port) {
          font-size: 4.5rem;
        }
        margin-bottom: 6rem;
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s ease;
        &:hover {
          color: #fff;
        }
      }
      & .lang {
        font-size: 2rem;
        display: flex; //
        flex-direction: row; //
        & .sr,
        & .hu {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & span {
          padding: 0.2rem 1rem;

          &:first-child {
            border-right: 1px solid $color-primary-dark;
            &::before {
              content: url(/resources/icons/lang/serbia.png);
              margin-right: 3px;
              position: relative;
              top: 2px;
            }
          }
          &:last-child {
            &::before {
              content: url(/resources/icons/lang/hungary.png);
              margin-right: 3px;
              position: relative;
              top: 2px;
            }
          }
        }
      }
    }

    &--logo {
      grid-area: logo;
      display: grid;
      justify-content: center;
      align-content: center;
      & a img {
        height: 150px;
      }
    }
  }
  &__copy {
    display: flex;
    justify-content: center;
    font-size: 1.4em;

    @include respond(tab-port) {
      font-size: 1.8em;
    }
    @include respond(bp-420) {
      font-size: 1.55em;
    }
    @include respond(bp-small) {
      font-size: 1.4em;
    }

    & a {
      color: $color-primary;
      font-weight: bold;
      transition: color 0.4s ease-in-out;
      &:hover {
        color: #fff;
      }
    }
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    // align-items: flex-end;
  }
}
