#main {
  position: relative;
  display: grid;
  // width: 100%;
  background: $color-primary;
  overflow-x: hidden;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'left right';
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'top'
      'bottom';
  }
  // border-bottom: 4px solid darken($color: $color-primary, $amount: 20);
  // border-bottom: 8px solid #26881b;
  &::after {
    content: '';
    display: block;
    height: 7px;
    position: relative;
    left: -10%;
    bottom: 0;
    width: 180%;
    background-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0) 0%,
      rgb(32, 116, 23) 20%,
      rgb(32, 116, 23) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(32, 116, 23) 20%,
      rgb(32, 116, 23) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.main {
  &__left {
    grid-area: left;
    display: grid;
    justify-content: center;
    // margin: auto 3rem;

    @include respond(tab-land) {
      position: relative;
      z-index: 20;
    }
    @include respond(tab-port) {
      grid-area: top;
    }
    // background: $color-primary;
  }
  &__right {
    grid-area: right;
    position: relative;
    @include respond(tab-port) {
      grid-area: bottom;
      bottom: 0;
    }
    // background: $color-primary;
  }
}

//SECTION Art
.blob1 {
  position: absolute;
  top: 280px;
  left: 50px;
  @include respond(tab-land) {
    top: 180px;
  }
}
.blob2 {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 600px;
  // height: 200px;
  // z-index: 0;
  @include respond(tab-land) {
    transform-origin: bottom right;
    transform: scale(0.8);
  }
  // @include respond(tab-port) {
  //   // -moz-transform: scale(-0.8, 0.8);
  //   // -webkit-transform: scale(-0.8, 0.8);
  //   // -o-transform: scale(-0.8, 0.8);
  //   // -ms-transform: scale(-0.8, 0.8);
  //   // transform: scale(-0.8, 0.8);
  //   // left: -70%;
  // }
}
.bins {
  position: absolute;
  bottom: 0;
  right: 100px;
  transform-origin: bottom;
  transform: scale(0.95);

  @include respond(bp-big) {
    right: 40px;
    transform: scale(0.8);
  }
  @include respond(tab-land) {
    right: -100px;
    transform: scale(0.55);
  }
  @include respond(tab-port) {
    // left: -60%;
    right: -50px;
    transform: scale(0.65);
  }
  @include respond(bp-medium) {
    right: 0;
    transform: scale(0.5) translateX(25%);
  }
}
