#shop {
  background: #ffffff;
  //   height: 800px;
  text-align: center;
  padding: 0 20rem 5rem 20rem;
  // border-bottom: 8px solid #26881b;
  // padding-bottom: 5rem;
  @include respond(bp-big) {
    padding: 0 10rem 5rem 10rem;
  }
  @include respond(tab-land) {
    padding: 0 5rem 5rem 5rem;
  }
  @include respond(bp-700) {
    padding: 0 3rem 3rem 3rem;
  }
  @include respond(phone) {
    padding: 0 2rem 3rem 2rem;
  }
  &::after {
    content: '';
    display: block;
    height: 7px;
    position: relative;
    left: -20rem;
    bottom: calc(-5rem + -7px);

    z-index: 3;
    width: calc(100% + 40rem);
    background-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0) 0%,
      rgb(32, 116, 23) 20%,
      rgb(32, 116, 23) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(32, 116, 23) 20%,
      rgb(32, 116, 23) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    @include respond(bp-big) {
      width: 100%;
      left: 0;
    }
    // @include respond(tab-land) {

    // }
    @include respond(bp-700) {
      bottom: calc(-3rem + -7px);
    }
  }
  & h1 {
    color: $text-primary;
    font-size: 4rem;
    // border-bottom: 0.8rem solid $color-primary;
    display: inline-block;
    letter-spacing: 1px;
    padding-bottom: 3px;
    margin: 5rem 0 3rem 0;
    border-radius: 10px;
    &::after {
      content: '';
      display: block;
      height: 7px;
      position: relative;
      left: -20%;
      top: 2px;
      // transform: translateX(50%);
      width: 140%;
      background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0) 0%,
        $color-primary 40%,
        $color-primary 60%,
        rgba(0, 0, 0, 0) 100%
      );
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        $color-primary 40%,
        $color-primary 60%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  & h2 {
    color: $text-primary;
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
}

.shop {
  &__box {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(bp-medium) {
      flex-direction: column;
      align-items: center;
    }

    &--item {
      background-color: $color-primary-light2;
      border-radius: 15px;
      box-shadow: 1px 5px 5px #0f360b3d;
      @include respond(tab-land) {
        margin-bottom: 3rem;
      }
      @include respond(bp-medium) {
        min-width: 60%;
      }

      &-heading {
        font-size: 2.6rem;
        font-weight: bold;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        padding: 1rem 6rem;
        letter-spacing: 1px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 3px #0f360b4b;
        @include respond(bp-medium) {
          font-size: 3rem;
        }
      }

      &-img {
        margin: 2.5rem 3.5rem;
        filter: drop-shadow(3px 3px 5px #00000056);
        -webkit-filter: drop-shadow(3px 3px 5px #00000056);
        -moz-filter: drop-shadow(3px 3px 5px #00000056);
        background-color: white;
        padding: 1.8rem;
        &-1 {
          border-radius: 50% 0 50% 50%;
        }
        &-2 {
          border-radius: 50% 50% 0 50%;
        }
        &-3 {
          border-radius: 50% 50% 50% 0;
        }
        &-4 {
          border-radius: 0 50% 50% 50%;
        }
      }

      &-list {
        width: 80%;
        margin: 0 auto;
        font-size: 1.8rem;
        @include respond(bp-medium) {
          font-size: 2rem;
        }
        padding: 0.2rem 0;
        text-align: left;
        // font-weight: 500;
        letter-spacing: 1px;
        // &:not(:last-child) {
        //   border-bottom: 2px solid $color-primary-border;
        // }
        &:last-child {
          margin-bottom: 2rem;
        }
        & span {
          font-weight: bold;
          color: $color-primary-dark;
          &::before {
            content: '· ';
          }
        }
      }
    }
  }
}
