@charset 'UTF-8';
.slick-loading .slick-list {
  background: #fff url(ajax-loader.gif) center center no-repeat;
}
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/slick.eot);
  src: url(fonts/slick.eot?#iefix) format('embedded-opentype'),
    url(fonts/slick.woff) format('woff'),
    url(fonts/slick.ttf) format('truetype'),
    url(fonts/slick.svg#slick) format('svg');
  font-display: swap;
}
.slick-next,
.slick-prev {
  font-family: slick, sans-serif;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 9rem;
  z-index: 60;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: scale(1.2);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 25px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 150px;
}
[dir='rtl'] .slick-prev {
  right: 150px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: 157px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: 150px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  font-family: slick, sans-serif;
  position: absolute;
  bottom: 9rem;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}
@media screen and (max-width: 75em) {
  .slick-dots,
  .slick-next,
  .slick-prev {
    bottom: 4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .slick-dots,
  .slick-next,
  .slick-prev {
    bottom: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .slick-prev {
    left: 28%;
  }
  .slick-next {
    right: 29%;
  }
}
@media only screen and (max-width: 26.25em) {
  .slick-prev {
    left: 26%;
  }
  .slick-next {
    right: 28%;
  }
}
@media only screen and (max-width: 21.875em) {
  .slick-prev {
    left: 20%;
  }
  .slick-next {
    right: 22%;
  }
}
