.bold {
  font-weight: bold;
}
.mrg-right {
  margin-right: 2rem;
}
.color-icon {
  color: $color-primary-dark;
}
.padding-left {
  padding-left: 4.5rem;
}
.grid {
  display: grid;
  &-center {
    place-content: center;
  }
}
.flex {
  display: flex;
  &-center {
    justify-content: center;
    align-items: center;
  }
}
